apiVersion: v1
kind: Service
metadata:
  name: mehmat-microservice
  labels:
    app: mehmat-microservice
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
  selector:
    app: mehmat-microservice
